apiVersion: v1
kind: Service
metadata:
  name: leviathan-spider
  namespace: leviathan
  labels:
    app: leviathan-spider
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  selector:
    app: leviathan-spider
