apiVersion: v1
kind: Service
metadata:
  name: leviathan-console
  namespace: leviathan
  labels:
    app: leviathan-console
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: leviathan-console
