apiVersion: v1
kind: Service
metadata:
  name: leviathan-control-plane
  namespace: leviathan
  labels:
    app: leviathan
    component: control-plane
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
  selector:
    app: leviathan
    component: control-plane
